/* Copyright Heeju Shim 2021. All rights reserved. */

/* General formatting for homepage */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: auto;
    grid-template-areas:
        "header header"
        "nav nav"
        "main aside"
        "footer footer";
    grid-row-gap: 8px;
}

.box {
    height: 500px;
    background-color:black;
}

header {
    
}
aside {
    
}

h1 {
    font-family: 'Arvo', serif;
}
p {
    font-family: 'Roberto Slab', serif;
}
nav {
    
}
